# Python cache
__pycache__/
*.pyc

# Env & secrets
.env
*.key
client/client_token.key

# Project specific
client/reproduce_client_login.py
API master/static/screenshots/*.png
API master/test_db_connection.py

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
venv/